@page
@model StudentskaSluzba.Pages.PrijavaPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Prijava</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prijava.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prijava.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prijava.Ispit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prijava.Ispit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prijava.IspitniRok)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prijava.IspitniRok.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prijava?.ID">Edit</a> |
    <a asp-page="./IspitnePrijave">Back to List</a>
</div>
